<%- include("partials/header.ejs") %>

  <% if (locals.adjective && locals.noun) { %>
    <h1>
      <%= adjective %>
        <%= noun %>
    </h1>
    <% } else { %>
      <h1>Welcome to the Band Name Generator 🤟</h1>
      <% } %>



        <form action="/submit" method="POST">
          <input class="button" type="submit" value="Generate Name">
        </form>


        <%- include("partials/footer.ejs") %>